@model IEnumerable<MvcPosApp.Models.Models.CustomerModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addForm</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustLoyaltyPoints)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustLoyaltyPoints)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
